body {
  margin: 0px;
  font-family: "Rajdhani", sans-serif;
  overflow-x: hidden;
}

header {
  background-color: #fff;
  max-width: 1295px;
  position: relative;
  top: 100px;
  height: 102px;
  padding: 15px 25px;
  margin: 0 auto;
  border-radius: 30px;
}

.navbar-nav li {
  margin-right: 30px;
  margin-left: 30px;
}

.navbar-nav li a {
  font-family: roboto;
  color: #000;
  font-weight: 400;
}

.navbar-nav li a:hover {
  color: #89EA5F;
}

.navbar-nav .highlighted-link a {
  width: 120px;
  text-align: center;
  border: 2px solid #89EA5F;
  background-color: #89EA5F;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: 500;
  position: relative;
}

.navbar-nav .highlighted-link a:hover {
  background-color: #163331;
}

.intro-container {
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(86, 145, 60, 0.35057773109243695) 0%), url(../images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  height: 980px;
  padding: 400px 0 140px;
  margin-top: -162px;
}

.intro-container-title {
  display: flex;
}

.intro-container-title i {
  margin-right: 10px;
}

.intro-container-title h1 {
  color: #89EA5F;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 600;
}

.intro-container-slogan {
  margin-bottom: 30px;
}

.intro-container-slogan p {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
}

.intro-container-slogan p span {
  color: #89EA5F;
}

.intro-container-description p {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
}

.intro-container-links {
  display: flex;
  margin-top: 60px;
}

.intro-container-links .services-link {
  margin-right: 30px;
}

.intro-container-links .services-link a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #163331;
  padding: 12px 30px;
  border: 2px solid #89EA5F;
  border-radius: 30px;
  background-color: #89EA5F;
  transition: 0.20s ease-in-out;
}

.intro-container-links .services-link a:hover {
  color: #89EA5F;
  background-color: #163331;
}

.intro-container-links .contact-link a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #89EA5F;
  padding: 12px 30px;
  border: 2px solid #89EA5F;
  border-radius: 30px;
  background-color: transparent;
  transition: 0.20s ease-in-out;
}

.intro-container-links .contact-link a:hover {
  background-color: #163331;
}

.about-us {
  background-color: #fff;
  padding-top: 101px;
  padding-bottom: 50px;
}

.about-us-images {
  background: url(../images/aboutus-background.svg) top 5px right 1%;
  background-repeat: no-repeat;
  background-size: 18% auto;
  margin-right: 20px;
  padding-bottom: 100px;
}

.about-us-img-one img {
  width: 90%;
  border-radius: 30px;
}

.about-img-two img {
  width: 50%;
  position: relative;
  left: 320px;
  bottom: 100px;
  border: 5px solid #fff;
  border-radius: 30px;
}

.about-us-title {
  display: flex;
}

.about-us-title i {
  margin-right: 10px;
}

.about-us-title h2 {
  color: #89EA5F;
  font-size: 0.90rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.about-us-slogan p {
  font-size: 2.9rem;
  font-weight: 700;
}

.about-us-description p {
  color: #888888;
  font-family: "Rubik", sans-serif;
  margin-bottom: 30px;
  font-size: 1rem;
}

.about-us-perks ul {
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.about-us-perks ul li {
  padding: 5px 30px;
  list-style-type: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-us-perks ul li i {
  margin-right: 10px;
}

.about-us-link {
  color: #163331;
  background-color: #89EA5F;
  padding: 12px 30px;
  border: 2px solid #89EA5F;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  border: 2px solid #89EA5F;
  transition: 0.20s ease-in-out;
}

.about-us-link:hover {
  background-color: #163331;
  color: #89EA5F;
}

.our-services {
  background-color: #EFF1ED;
  padding: 102px 0 156px;
}

.our-services-title {
  display: flex;
  justify-content: center;
}

.our-services-title i {
  margin-right: 10px;
}

.our-services-title h3 {
  color: #89EA5F;
  font-size: 0.90rem;
  font-weight: 600;
  letter-spacing: .1rem;
  margin-bottom: 0px;
}

.our-services-slogan {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.our-services-slogan p {
  font-size: 2.9rem;
  font-weight: 700;
}

.our-services-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.our-services-boxes-1 {
  background: url(../images/servicesimg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;
  width: 450px;
  border-radius: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.25s ease-in-out;
}

.our-services-boxes-1-text {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  top: 340px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.25s ease-in-out;
}

.our-services-boxes-1:hover .our-services-boxes-1-text {
  top: 330px;
}

.our-services-boxes-1-text p:nth-child(1) {
  color: #000;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.8rem;
  font-weight: 650;
  margin-bottom: 0px;
}

.our-services-boxes-1-text p:nth-child(2) {
  color: #888888;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.our-services-boxes-2 {
  background: url(../images/servicesimg2.jpg);
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  height: 520px;
  width: 450px;
  border-radius: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.25s ease-in-out;
}

.our-services-boxes-2-text {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  top: 340px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.25s ease-in-out;
}

.our-services-boxes-2:hover .our-services-boxes-2-text {
  top: 330px;
}

.our-services-boxes-2-text p:nth-child(1) {
  color: #000;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.8rem;
  font-weight: 650;
  margin-bottom: 0px;
}

.our-services-boxes-2-text p:nth-child(2) {
  color: #888888;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.our-services-boxes-3 {
  background: url(../images/servicesimg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -170px;
  height: 520px;
  width: 450px;
  border-radius: 50px;
  margin-bottom: 20px;
  transition: 0.25s ease-in-out;
}

.our-services-boxes-3-text {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  top: 340px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.25s ease-in-out;
}

.our-services-boxes-3:hover .our-services-boxes-3-text {
  top: 330px;
}

.our-services-boxes-3-text p:nth-child(1) {
  color: #000;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.8rem;
  font-weight: 650;
  margin-bottom: 0px;
}


.our-services-boxes-3-text p:nth-child(2) {
  color: #888888;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.our-process {
  padding-top: 105px;
  padding-bottom: 105px;
}

.our-process-title {
  font-family: font-family: "Rajdhani", sans-serif;
  display: flex;
  justify-content: center;
}

.our-process-title i {
  margin-right: 10px;
}

.our-process-title h3 {
  color: #89EA5F;
  font-size: 0.90rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.our-process-slogan {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.our-process-slogan p {
  font-size: 2.9rem;
  font-weight: 700;
}

.step-number {
  background-color: #89EA5F;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 50px;
  border: 5px solid #fff;
  position: absolute;
}

.step-one-icon img {
  background-color: #89EA5F;
  padding: 35px 35px;
  border-radius: 30px;
}

.step-one-content p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
}

.step-one-content p:nth-child(2) {
  font-weight: 510;
  color: #888888;
  font-size: 1.1rem;
}

.step-two-icon img {
  background-color: #89EA5F;
  padding: 35px 35px;
  border-radius: 30px;
}

.step-two-content p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
}

.step-two-content p:nth-child(2) {
  font-weight: 510;
  color: #888888;
  font-size: 1.1rem;
}

.step-three-icon img {
  background-color: #89EA5F;
  padding: 35px 35px;
  border-radius: 30px;
}

.step-three-content p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
}

.step-three-content p:nth-child(2) {
  font-weight: 510;
  color: #888888;
  font-size: 1.1rem;
}

.progress-section {
  padding-top: 50px;
}

.progress-title {
  display: flex;
}

.progress-title i {
  margin-right: 10px;
}

.progress-title h3 {
  color: #89EA5F;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 600;
}

.progress-slogan p {
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 60px;
}

.progress-description p {
  font-weight: 510;
  color: #888888;
  font-size: 1.1rem;
}

.solar-panel-progress {
  margin-bottom: 25px;
}

.solar-panel-progress p {
  font-size: 1.3rem;
  font-weight: 700;
}

.progress {
  background-color: #EFF1ED;
  color: #89EA5F;
}

.energy-progress {
  margin-bottom: 25px;
}

.energy-progress p {
  font-size: 1.3rem;
  font-weight: 700;
}

.marketing-progress p {
  font-size: 1.3rem;
  font-weight: 700;
}

@media all and (max-width: 480px) {
  .intro-container {
    padding-bottom: 600px;
  }

  .about-us-images {
    padding-bottom: 0px;
  }

  .about-img-two img {
    width: 50%;
    position: relative;
    left: 200px;
    bottom: 100px;
    border: 5px solid #fff;
    border-radius: 30px;
  }

  .our-services-boxes {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .about-us-images {
    padding-bottom: 0px;
  }

  .about-img-two img {
    width: 50%;
    position: relative;
    left: 290px;
    bottom: 100px;
    border: 5px solid #fff;
    border-radius: 30px;
  }

  .our-services-boxes {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-us-images {
    padding-bottom: 0px;
  }

}